html,
body {
    height: 100%;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $gray-400 !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
}

.wrapper {
  flex: 1 0 auto;
}

header {
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
}

.navbar-small-screens {
  background-color: $light;
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-one-bigger-screens {
  background-color: $light;
  li {
    margin-left: 20px;
  }
  .nav-link:hover {
    text-decoration: underline !important;
  }
}

.navbar-two-bigger-screens {
  background-color: $blue-900;

  li {
    font-size: 1.2rem;
  }

  .nav-border-button {
    box-sizing: border-box;
    height: 49px;
    width: auto;
  }

  .nav-border-button:hover {
    border: 4px solid #FFFFFF;
    text-decoration: underline !important;
  }

  .nav-link:hover {
    text-decoration: underline !important;
  }
}

nav input {
  border: 2px solid $primary !important;
  font-family: $font-family-sans-serif;
  font-size: 0.95rem !important;
  color: #000000;
}

.nav-border-button {
  border: 2px solid #FFFFFF;
}

.active {
  font-weight: 700 !important;
  border: 4px solid #FFFFFF !important;
}

.navbar-collapse {
  background-color: $blue-900;
}

.logo {
  width: 180px;
}

.nav__username-and-credits {
  gap: 30px;
}

.container {
  .form-control {
    border: 1px solid $primary;
  }
}

.cta {
  background-color: $orange-600;
  border: 3px solid $blue-900;
  color: #FFFFFF;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-size: 1.3rem;
}

.error {
  color: #D82C00;
  margin: 5px 0;
}

footer {
  border-top: 4px solid $primary;
}

.footer-wrapper {
  width: 195px;
}

.footer-part-one {
  gap: 40px;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
}

.footer-part-one div {
  width: 200px;
}

footer a {
  text-decoration: none;
  color: #000000 !important;
}

footer i {
  font-size: 1.7rem;
  color: $primary;
  margin-bottom: 15px;
}

.footer-part-one__short-menu p:hover {
  text-decoration: underline;
}

.footer-part-two {
  color: $blue-900;
  font-size: 0.85rem;
}
