html,
body {
    height: 100%;
}

body {
  font-family: $font-family-sans-serif;
  background-color: $gray-400 !important;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  width: 100%;
}

.text-link {
  color: $primary;
  font-weight: 700;
}

.text-link:hover {
  color: #000000;
}

.wrapper {
  flex: 1 0 auto;
}

.navbar-small-screens, .navbar-two-bigger-screens {
  box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.25);
}

.navbar-small-screens {
  background-color: $light;
}

.navbar-toggler {
  border: 0 !important;
}

.navbar-one-bigger-screens {
  background-color: $light;
  li {
    margin-left: 20px;
  }
  .nav-link:hover {
    text-decoration: underline !important;
  }
}

.navbar-two-bigger-screens {
  background-color: $blue-900;

  li {
    font-size: 1.2rem;
  }

  .nav-border-button {
    box-sizing: border-box;
    height: 49px;
    width: auto;
  }

  .nav-border-button:hover {
    border: 4px solid #FFFFFF;
    text-decoration: underline !important;
  }

  .nav-link:hover {
    text-decoration: underline !important;
  }
}

nav input {
  border: 2px solid $primary !important;
  font-family: $font-family-sans-serif;
  font-size: 0.95rem !important;
  color: #000000;
}

.nav-border-button {
  border: 2px solid #FFFFFF;
}

.active {
  font-weight: 700 !important;
  border: 4px solid #FFFFFF !important;
}

.navbar-collapse {
  background-color: $blue-900;
}

.logo {
  width: 180px;
}

#account-info-container {
  padding: 12px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2000;
  background-color: #ffffff;
  margin-bottom: 40px;
  font-size: 0.9rem;
  text-align: right;
}

#account-info-container p {
  margin: 0 0 2px 0;
}

#account-info-container i {
  color: $primary;
  font-size: 0.85rem;
  margin-top: 2px;
}

.my-account-link:hover ~ .my-account-user-icon {
  color: #000000 !important;
}

.my-account-user-icon:hover {
  color: #000000 !important;
}

.my-account-link {
  text-decoration: none;
  gap: 5px;
}

.my-account-link p {
  color: #000000;
}

.my-account-link p:hover {
  text-decoration: underline;
}

#logout-link {
  cursor: pointer;
}

.container {
  .form-control {
    border: 1px solid $primary;
  }
}

.cta {
  background-color: $orange-600;
  border: 3px solid $blue-900;
  color: #FFFFFF;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  font-size: 1.3rem;
}

.cta:hover {
  background-color: $orange-400;
  border: 3px solid $blue-400;
  text-decoration: underline;
}

.btn:hover {
  text-decoration: underline;
  background-color: $blue-900 !important;
}

.error {
  color: #D82C00;
  margin: 5px 0;
}

.success {
  color: #017B32;
  margin: 5px 0;
}

.loader {
  content: "";
  width: 50px;
  height: 50px;
  border: 10px solid transparent;
  border-top-color: $orange-600;
  border-radius: 50%;
  animation: spinning 1.5s linear infinite;
}

@keyframes spinning {
  to {
    transform: rotate(1turn);
  }
}

footer {
  border-top: 4px solid $primary;
}

.footer-wrapper {
  width: 195px;
}

.footer-part-one {
  gap: 40px;
  flex-direction: column;
  padding-top: 30px;
  padding-bottom: 10px;
}

.footer-part-one div {
  width: 200px;
}

footer a {
  text-decoration: none;
  color: #000000 !important;
}

footer i {
  font-size: 1.7rem;
  color: $primary;
  margin-bottom: 15px;
}

.footer-part-one__short-menu p:hover {
  text-decoration: underline;
}

.footer-part-two {
  color: $blue-900;
  font-size: 0.85rem;
}
