@media (min-width: 400px) {
  .footer-wrapper {
    width: 320px;
  }

  .footer-part-one {
    flex-direction: row;
  }

  footer i {
    margin-bottom: 8px;
  }
}

@media (min-width: 576px) {
  #account-info-container {
    top: 105px;
    bottom: auto;
  }
}

@media (min-width: 768px) {
  .auction-cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  #account-info-container {
    top: 175px;
  }
  
  .featured-auctions-section, .login__form-section, .sign-up__form-section, .auction__main-section, .create-listing__form-section, .my-account__form-section {
    margin-top: 159px;
    padding-top: 30px;
  }

  .auction-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .auction__main-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .auction__details-section {
    margin-top: 11px;
  }

  .auction__date-p {
    margin-bottom: 40px;
  }

  .auction__bid-input-section {
    margin-bottom: 40px;
  }
}
