@media (min-width: 400px) {
  .footer-part-one {
    flex-direction: row;
  }

  footer i {
    margin-bottom: 8px;
  }
}

@media (min-width: 992px) {
  .featured-auctions-section, .login__form-section, .sign-up__form-section, .auction__main-section, .create-listing__form-section {
    margin-top: 159px;
    padding-top: 30px;
  }
}
